html {
    display: table;
    margin: auto;
    height: 100%;
    width: 100%
}

body {
	display: table-cell;
    vertical-align: middle;
	height: 100%;
	// max-width: 500px;
}

.body {
	h2 {
		text-align: center;
		margin-bottom: 10px;
	}
}

h1.display-4 {
	text-align: center;
}

.navigation {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.form-control {
	@extend .navigation;
}
.btn.btn-primary {
	@extend .navigation;
	width: auto;
	display: block;
	margin-top: 10px;
}

.list_item {
	@extend .navigation;
	width: 50%;
	margin-top: 15px;
		.row {
			border-top: 1px solid #ccc;
			.col, .col-2 {
				padding-top: 10px;
				padding-bottom: 10px;
				p {
					margin: 0;
					font-size: 0.9em;
				}
			}
			.col-2 {
				button {
					float: right;
				}
			}
		}
}
